CLOUD_PROVIDER=Aws
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DYNAMODB_SERVICE_URL=https://dynamodb.us-east-1.amazonaws.com
AWS_WEBSOCKET_SERVICE_URL=http://websocket-emulator:3001
AWS_WEBSOCKET_PUBLIC_URL=ws://localhost:3001
AWS_S3_BUCKET_NAME=cloudflow-storage-test
